*.swp
*.swo
*.tmp

# OS ignores
.DS_Store

# IntelliJ workspace-specific
.idea

# Ignore all VSCode settings
/.vscode/

# Ignore learning plans docs
/docs/learning-plans

# Build output
/bin/
/tmp/
/build